<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.4/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         backupGlobals="false"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
>
    <testsuites>
        <testsuite name="Netgen\ContentTypeList\Tests">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>.</directory>
        </include>
        <exclude>
            <directory>DependencyInjection</directory>
            <directory>Resources</directory>
            <directory>Tests</directory>
            <directory>vendor</directory>
            <file>NetgenContentTypeListBundle.php</file>
        </exclude>
    </source>
</phpunit>
